.footer
  background: #262E36

  &__social
    display: flex
    justify-content: space-between
    height: 15rem
    align-items: center

    &__link
      opacity: 0.5
      cursor: pointer

      &:hover
        opacity: 1

  &__bottom
    display: flex
    justify-content: space-between
    padding-top: 5rem

  &__navigation
    margin-top: .7rem

    &__list
      display: flex

    &__item
      margin-left: 3.5rem

    &__link
      opacity: 0.8
      color: #6785A8
      font-family: $font-title
      font-size: 2rem
      line-height: 2.5rem
      text-align: right
      text-transform: uppercase
      text-decoration: none
      transition: all .2s ease-in-out

      &:hover
        opacity: 1
        color: #8DBAED
        transition: all .2s ease-in-out

  &__copyright
    opacity: 0.5
    color: #A4C7F0
    font-family: 'montserrat'
    font-size: 1.3rem
    font-weight: 300
    line-height: 1.6rem
    text-align: left
    padding: 2.8rem 0 4.3rem
