@mixin media-width-between($min, $max)
  @media (min-width: $min) and (max-width: $max)
    @content

@mixin media-width-above($min)
  @media (min-width: $min)
    @content

@mixin media-width-below($max)
  @media (max-width: $max)
    @content

@mixin media-xs //mobile
  @include media-width-below($mobile)
    @content

@mixin media-sm //tablet portrait
  @include media-width-below($tablet)
    @content

@mixin media-md //tablet landscape
  @include media-width-below($desktop)
    @content

@mixin media-lg //desktop
  @include media-width-above($desktop)
    @content

@mixin media-mob //all mobile devices
  @include media-width-below($desktop)
    @content

@mixin primary-btn($width, $height, $f-size, $b-radius)
  width: $width
  height: $height
  line-height: $height
  color: #fff
  font-family: $font-title
  font-size: $f-size
  text-align: center
  background: #39A25B
  transition: all .2s
  border: none
  border-radius: $b-radius
  outline: none
  text-transform: uppercase
  cursor: pointer

  &:hover
    background: #349353
    transition: all .2s

@mixin primary-link($f-size)
  text-transform: uppercase
  font-size: $f-size
  color: #39A25B
  transition: all .2s ease-in-out
  cursor: pointer
  font-family: $font-title
  text-decoration: none
  display: inline-block

  &:hover
    color: #349353
    transition: all .2s ease-in-out
