@-webkit-keyframes flipInY
  from
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg)
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0


  40%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg)
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in


  60%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg)
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg)
    opacity: 1


  80%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg)


  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)



@keyframes flipInY
  from
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg)
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0


  40%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg)
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in


  60%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg)
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg)
    opacity: 1


  80%
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg)


  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)

.support
  padding: 18rem 0 10.3rem
  background-image: url(../images/color.png)

  &__htp
    display: flex
    padding: 6.6rem 8rem 7rem 6.5rem
    border-left: 15px solid #287BDD
    background: #fff
    margin-bottom: 8.1rem

    .section__title
      text-align: left
      margin-bottom: 3.4rem
      font-size: 6rem

    &__description
      width: 72%
      color: #262E36
      font-family: $font-roboto
      font-size: 1.6rem
      font-weight: 300
      line-height: 2.5rem

    &__logo
      width: 20.5%
      margin-left: 7.5%
      margin-top: -34px

  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    width: 27.3rem
    height: 22.4rem
    margin-bottom: 3.7rem
    display: flex
    align-items: center
    justify-content: center
    background: #fff
    transition: all 0.2s

    &:hover
      transition: all 0.2s

      .support__award-icon
        @extend .animated
        @extend .flipInY
        transition: all .2s ease-in-out
        filter: none

    .support__award-icon
      transform: scale(0.8)
      filter: grayscale(100%)
      transition: all .2s ease-in-out
