.technologies
  padding: 10rem 0
  background: $bg-color

  &__list
    padding: 7rem 0 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    width: 381px
    height: 415px
    width: 381px
    border: 1px solid #EDEFF2
    border-radius: 3px
    background-color: #FFFFFF
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.05)
    padding: 44px 40px 55px
    margin-bottom: 22px

    &__icon
      margin-bottom: 24px

    &__header
      display: flex
      flex-direction: column
      align-items: center

    &__title
      color: #262E36
      font-family: $font-title
      font-size: 38px
      line-height: 47px
      text-align: center
      margin-bottom: 13px

    &__description
      color: #262E36
      font-family: 'roboto-light'
      font-size: 15px
      line-height: 24px

    &__tools
      font-family: 'source_sans_proregular'
      color: #8094B3
      font-size: 14px
      line-height: 24px
      border-top: 1px solid #EDEFF2
      padding-top: 17px
      margin-top: 30px

      span
        margin-right: 22px
        white-space: nowrap

        &.no-mrg
          margin-right: 0
