.testimonials
  background-color: $bg-color
  padding: 10rem 0 12rem

  &__slider
    margin-top: 8rem

    &__inner
      width: 105.8rem
      margin: 0 auto
      display: flex
      flex-wrap: wrap
      justify-content: space-between

      +media-md
        width: auto

  &__item
    background-color: #fff
    position: relative
    height: 267px
    width: 51.4rem
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: space-between
    padding: 29px 41px 25px
    text-align: right
    margin-bottom: 4rem

    +media-md
      width: 639px
      margin: 0 auto
      padding: 38px 41px 47px

    &__photo
      position: absolute
      bottom: 0
      left: 0

    &__content
      width: 30.9rem
      color: #262E36
      font-family: $font-roboto
      font-size: 14px
      font-weight: 300
      line-height: 22px
      position: relative
      background: url('../images/left-quote.svg') no-repeat top left, url('../images/right-quote.svg') no-repeat bottom right
      padding: 1.2rem 2.2rem .8rem 0
      margin: -1.2rem -2.2rem -0.8rem 0

      +media-md
        width: 417px

    &__name
      color: $font-base-color
      font-family: $font-oswald
      font-size: 18px
      line-height: 26px

    &__position
      color: $font-base-color
      font-family: $font-subtitle
      font-size: 16px
      font-weight: 300
      line-height: 19px

    &__address
      font-family: $font-roboto-light
      font-style: italic

  +media-mob
    display: none

  &--responsive
    @extend .testimonials

    +media-lg
      display: none

    +media-mob
      display: block
