.top-section
  height: calc(100vh - 10rem)
  background: #EFF4FA
  display: flex
  flex-direction: column
  align-items: center
  padding-bottom: 10rem
  justify-content: space-between

  +media-md
    padding-bottom: 71px

  +media-xs
    padding-bottom: 50px

  &__img
    margin-top: .7rem
    height: calc(100vh - 42rem)
    @extend .animated
    -webkit-transform-origin: center bottom
    transform-origin: center bottom
    animation: train 2.5s ease-in

    +media-md
      max-width: 98%

  &__title
    color: $font-base-color
    font-family: $font-title
    font-size: 5.6rem
    line-height: 5rem
    text-align: center
    margin: 0

    +media-xs
      font-size: 32px
      line-height: 42px
      max-width: 240px

    &--accent
      color: $font-subtitle-color

  &__order-now-btn
    +primary-btn(220px, 64px, 30px, 9px)

    +media-xs
      +primary-btn(180px, 50px, 24px, 7px)
