$font-title: 'fjalla', sans-serif
$font-subtitle: 'roboto', sans-serif
$font-roboto: 'roboto-reg', sans-serif
$font-roboto-light: 'roboto-light', sans-serif
$font-oswald: 'oswald', sans-serif
$font-base-color: #2E3841
$font-subtitle-color: #2172D0
$bg-color: #EFF4FA
