.services
  padding: 12rem 0 7rem

  +media-md
    padding-top: 10rem

  +media-sm
    padding-top: 50px

  +media-xs
    padding-bottom: 36px

  &__list
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 8.5rem

    +media-md
      margin-top: 56px
      justify-content: space-around

    +media-sm
      margin-top: 32px
      flex-direction: column
      align-items: center

    +media-xs
      margin-top: 40px

  &__item
    width: 45%
    display: flex
    margin-bottom: 5.4rem
    position: relative
    padding-left: 11rem

    +media-md
      margin-bottom: 31px
      padding-left: 9rem

    +media-sm
      width: 465px
      margin-bottom: 25px

    +media-xs
      width: 100%
      padding-left: 56px

    &__title
      color: $font-base-color
      font-family: $font-title
      font-size: 3.6rem
      line-height: 3.6rem
      margin-bottom: 1rem

      +media-xs
        margin-bottom: 2px

    &__description
      color: $font-base-color
      font-family: 'roboto-light'
      font-size: 16px
      font-weight: 300
      line-height: 24px

      +media-md
        font-size: 15px

      +media-xs
        line-height: 21px

    &__img
      width: 8rem
      opacity: 0.8
      transition: opacity .2s
      position: absolute
      top: -4px
      left: 0

      +media-md
        width: 50px

      +media-xs
        width: 40px

    &:hover .services__item__img
      opacity: 1
      transition: opacity .2s
