.team
  padding: 10rem 0 12rem
  border-top: 10px solid $bg-color

  &__grid
    display: flex
    justify-content: space-between
    margin: 53px 0 60px

    +media-md
      width: 100%
      margin: 53px auto 50px

    +media-xs
      max-width: 100%
      margin: 41px auto 40px

    &__column
      display: flex
      flex-direction: column
      width: 260px
      height: 900px

      +media-md
        width: calc((100% - 30px)/4)
        height: calc(((100vw - 105px)/4)*3 + 20px)

      +media-xs
        width: calc((100% - 20px)/3)
        height: calc((100vw - 95px) + 20px)

        &:last-child
          display: none

      +media-xxs
        width: calc((100% - 10px)/2)
        height: calc(((100vw - 85px)/2)*3 + 20px)

        &:nth-child(3)
          display: none

    &__item
      width: 100%
      height: 260px
      margin-bottom: 40px
      transition: all .5s
      flex-shrink: 0
      overflow: hidden

      +media-md
        height: calc((100vw - 105px)/4)
        margin-bottom: 10px

      +media-xs
        height: calc((100vw - 95px)/3)

      +media-xxs
        height: calc((100vw - 85px)/2)

      &:hover
        height: 328px
        transition: all .5s

        +media-md
          height: calc((100vw - 105px)/4*1.23)

        +media-xs
          height: calc((100vw - 95px)/3*1.35)

        +media-xxs
          height: calc((100vw - 85px)/2*1.35)

        .team__grid__item__hover-img
          transition: all .4s
          opacity: 1

        & + .team__grid__item
          height: 192px
          transition: all .5s

          +media-md
            height: calc((100vw - 105px)/4*0.77)

          +media-xs
            height: calc((100vw - 95px)/3*0.65)

          +media-xxs
            height: calc((100vw - 85px)/2*0.65)

        .team__grid__item__name,
        .team__grid__item__position
          @extend .animated
          @extend .fadeIn
          animation-delay: .1s

      &__img
        position: relative
        width: 100%
        height: 260px
        overflow: hidden

        +media-md
          height: calc((100vw - 105px)/4)

        +media-xs
          height: calc((100vw - 95px)/3)

        +media-xxs
          height: calc((100vw - 85px)/2)

        img
          min-width: 100%
          min-height: 100%
          width: 100%
          position: absolute
          top: 0
          left: 0
          z-index: 1

        .team__grid__item__hover-img
          z-index: 2
          opacity: 0
          transition: all .4s

      &__name
        color: $font-base-color
        font-family: $font-title
        font-size: 16px
        line-height: 20px
        text-align: center
        margin: 16px 0 2px
        opacity: 0

        +media-md
          margin-top: 9px

        +media-sm
          font-size: 15px
          line-height: 15px
          margin: 12px 0 6px

        +media-xs
          font-size: 12px
          margin: 7px 0 4px

      &__position
        color: $font-base-color
        font-family: $font-roboto-light
        font-size: 15px
        line-height: 18px
        text-align: center
        opacity: 0

        +media-sm
          font-size: 13px
          line-height: 13px

        +media-xs
          font-size: 10px

  &__more-link
    display: block
    text-align: center
    opacity: 0.6
    color: #7B8AA0
    font-family: $font-title
    font-size: 20px
    line-height: 25px
    transition: all .2s
    text-decoration: none

    &:hover
      opacity: 1
      transition: all .2s

    +media-xs
      font-size: 14px
      line-height: 17px
